<!DOCTYPE HTML>
<HTML>
 <HEAD>
  <META CHARSET="UTF-8">
  <BASE HREF="localhost">
  <TITLE>Esteban's Stock Exchange Quote Service</TITLE>
  <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab' rel='stylesheet' type='text/css'>
  <LINK REL="STYLESHEET" HREF="/styles/default.css">
  <META NAME="Esteban's Stock Quotes" CONTENT="stock quotes application">
 </HEAD>

<body>
  <div>
  <h1>Stock Exchange Quote Service</h1>
  <h3>Get Stock Quote</h3>
  <p>We will be using Yahoo! Finance to pull the information of a given stock.
  For example, the stock symbol for Apple is <b>AAPL</b>
  To find the symbols for the stock you wish to fetch, see <a href="http://finance.yahoo.com/stock-center/#mkt-movers" target="_blank">here.</a></p>


  <form action="/show" method="get" accept-charset="utf-8">
  <input type="text" name="symbol" value="Enter a Stock Symbol:" id="symbol">

  <input type="submit" value="...fetch the quote">
  </form>
  </div>
  <div id="footer">
    <p><b>A Fun Sinatra App by Rubylearning</b></p>
  </div>
</body>
</html>
