<!DOCTYPE HTML>
<HTML>
 <HEAD>
  <META CHARSET="UTF-8">
  <BASE HREF="http://localhost">
  <TITLE>Esteban's Stock Quotes</TITLE>
  <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab' rel='stylesheet' type='text/css'>
  <LINK REL="STYLESHEET" HREF="/styles/default.css">
  <META NAME="Esteban's Stock Quotes" CONTENT="stock quotes application">
 </HEAD>

<body>
  <div>
    <h1>Welcome to Esteban's Stock Exchange Quote Service</h1>
      <p>Information current as of <%= @stock.row3 %> on <%= @stock.row2 %> </p>
      <p><b><%= @stock.row0 %>'s</b> last trade was - $<%= @stock.row1 %> (increase of <%= @stock.row4 %>) </p>
      <p>Opened at $<%= @stock.row5 %><br />Range for the day $<%= @stock.row7 %> - $<%= @stock.row6 %></p>

      <p><a href="/">Back</a></p>
      </div>
        <div id="footer">
          <p><b>A Fun Sinatra App by Rubylearning</b></p>
        </div>
</body>
</html>

